.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1.5em 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 2em;
}
.image {
  flex-grow: 1;
  flex-basis: 25%;
}
.image img {
  border-radius: 50%;
}
.text {
  flex-grow: 1;
  flex-basis: 75%;
}
.text h1 {
  color: #4a4a4a;
  font-size: 2.25em;
  padding-bottom: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
}
.text a {
  text-decoration: none;
}
.contact {
  display: flex;
  list-style: none;
  padding: 0.5em 0 0 0;
  margin: 0;
}
.contact-item {
  padding-right: 1.5rem;
  width: 18px;
}
.contact-item a {
  opacity: 40%;
}
.contact-item a:hover {
  opacity: 80%;
  transition: opacity 250ms;
}