.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
}
.image {
  flex-grow: 1;
  flex-basis: 25%;
}
.content {
  flex-grow: 1;
  flex-basis: 75%;
}
.content h2 {
  margin: 0;
}