.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  padding-bottom: 2em;
}
.image {
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 200px;
}
.image img {
  max-width: 200px;
}
.content {
  flex-grow: 1;
  flex-basis: 75%;
}
.content h3 {
  margin: 0;
}
.authors {
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}
.journal {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-style: italic;
  color: #6a6a6a;
}
.links {
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}
.links span {
  padding-right: 1em;
}
.note {
  margin-block-start: 0.5em;
  color: #9b1c1c;
  font-weight: bold;
}